.background{
    background-color: wheat;
}

.box{
    padding: 10px;
    background: rgb(144, 158, 190);
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
}

.navbar {
    background-color: rgb(91, 111, 148); 
    font-size: 15px;
    padding: 10; 
}

/* latitude header styling */
h1 {

font-size: 60px;

color: white;

text-align: left;

background-color: turquoise;

}

/* navigation tool bar */
.navbar li {
    display: inline;
    padding: 20px;
    margin-right: 100px;
    border-radius: 100px;
    cursor: pointer;
    background: turquoise;
}

#nav-select {
    visibility: hidden;
}

/* some styles change when the page is decreased */
@media (max-width: 600px) {

    .navbar li {
        padding: 10px;
    }
    .post {
        margin-right: 30px;
        margin-left: 30px;
    }
    .navbar ul {
        visibility: hidden;
    }
    #nav-select {
        visibility: visible;
    }

}
